<div class="container-fluid no-margin no-padding">
  <div class="footer">
    <div class="row no-margin">
      <div class="col-xs-2 col-xs-offset-3 col-no-padding">
        <p class= "footer-link"><%= link_to "About", about_page_path %></p>
        <p class= "footer-link">Help</p>
      </div>
      <div class="col-xs-2 col-no-padding" >
        <p class= "footer-link">Contacts</p>
        <p class= "footer-link">Careers</p>
      </div>
      <div class="col-xs-2 col-no-padding">
        <p class= "footer-link">Legal</p>
        <p class= "footer-link">Press</p>
      </div>
    </div>
    <hr>
    <div class="row no-margin">
      <div class="col-xs-4 col-xs-offset-4 col-no-padding" id="social-media-icons">
        <p id="social-media-icons">
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
        </p>
      </div>
      <div class="col-xs-4 col-no-padding">
        <p id="footer-about">© Fresh</p>
      </div>
    </div>
  </div>
</div>
