<!-- <div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p>This is @ Fresh</p>
      </div>
    </div>
  </div>
</div>

 -->
<div class="container-fluid">
  <div class="footer">
      <div class="row" id="footer-row">
        <div class="col-xs-7" id="social-media-icons">
          <p class="social-media-icons"> <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a> </p>
        </div>
        <div class="col-xs-5" id="footer-about">
          <p><%= link_to "@Fresh", about_page_path %></p>
        </div>
      </div>
  </div>
</div>

