<div class="margin-top"></div>
<h1>We are Fresh!</h1>
<p>Fresh's goal is to bridge the gap between people who love fresh food and
   establishments looking to provide potential customers with information about
   their fresh offerings.</p>

<h3>Meet the Team</h3>
<div class="container-fluid wrapper-lightgrey-about">
  <div class="row">
    <div class="col-xs-12 col-lg-4 wrapper-white-about">
      <h2 class="name-title-about">Caroline Assis</h2>
      <img src="https://avatars.githubusercontent.com/u/20164718?v=3" class="avatar-xlarge">
      <p class="description">I'm a designer and I want to learn to code to be able
      to test my own ideas. I believe that this skill is essential to anyone who
      wants to enter the startup scene.</p>
    </div>
  <div class="col-xs-12 col-lg-4 wrapper-white-about">
    <h2 class="name-title-about">Francisco Pimenta Machado</h2>
    <img src="https://avatars.githubusercontent.com/u/19997730?v=3" class="avatar-xlarge" >
    <p class="description">After studying medicine for three years I realised being
    a doctor wasn't for me, so I moved from Lisbon to London to study biochemical
    engineering at UCL. This year I took a break from six consecutive years of study.
    Currently I'm working at Rnters, a p2p rental marketplace that allows users to
    monetise what they own and rent what they need from others.</p>
  </div>
  <div class="col-xs-12 col-lg-4 wrapper-white-about">
    <h2 class="name-title-about">Thiago Tsai</h2>
    <img src="https://avatars.githubusercontent.com/u/20164668?v=3" class="avatar-xlarge">
    <div class="text-about">
      <p class="description">I worked 7 years as IT Manager South America in Johnson
      Controls Automotive. I love coding but so far I could not spend much time doing
      it. After the course I plan to pursue my own project.</p>
    </div>
  </div>
  </div>
</div>



<div style="height: 5px"></div>
