/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Wrappers
.wrapper-lightgrey {
  background-color: #EEEEEE;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.wrapper-white {
  background-color: white;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.wrapper-transp-grey {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
}

.margin-top {
  height: 70px;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.padded-small {
  padding-top: 3em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.flex-wrapper-sp-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  outline : none;
}

a:active,
a:focus,
a:visited {
  outline: none;
  border: none;
  text-decoration: none;
}

// bootstrap overrides
.alert-info {
  border-color: $green;
  background: $green;
  color: white;
}

.modal-open {
  overflow-y: scroll;
  padding-right: 0 !important;
}

.modal {
  margin-left: 17px;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.close-large {
  float: right;
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

// a:focus {
//   outline: none;
//   border: none;
//   text-decoration: none;
//   color: #616668;
// }

// a:visited {
//   outline: none;
//   border: none;
//   text-decoration: none;
//   color: #616668;
// }
