<div class="container">
<% unless @items.empty? %>
  <% @items.in_groups_of(4) do |item1, item2, item3, item4| %>
    <div class="row">
      <div class="col-sm-3">
        <%= render 'shared/listcard', item: item1 %>
      </div>
      <% if item2 %>
      <div class="col-sm-3">
        <%= render 'shared/listcard', item: item2 %>
      </div>
      <% end %>
      <% if item3 %>
      <div class="col-sm-3">
        <%= render 'shared/listcard', item: item3 %>
      </div>
      <% end %>
      <% if item4 %>
      <div class="col-sm-3">
        <%= render 'shared/listcard', item: item4 %>
      </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <br>
  <div class="alert alert-danger" role="alert" style="color: #d9534f; font-size: 1.2em;">
  <i class="fa fa-meh-o" aria-hidden="true"></i>
  Opps! No matches for your query.
  </div>
  <br>
<% end %>
</div>
