<div class="row">
  <div class="col-sm-6">
    <div class="dish-show-container">
      <%= image_tag  item.photo.url, class: "img-responsive img-rounded dish-image"%>
            <!-- <div class="dish-info">
              <div class="dish-info-text wrapper-transp-grey">
                <div class="dish-info-text-name">Spring salad with potatoes</div>
                <div class="dish-info-text-price">Price: 8€</div>
              </div>
            </div> -->
            <!-- <a class="dish-link" href="#" ></a> -->
    </div>
    </div>
    <div class="col-sm-6">
      <div class="dish-show-container">
      <div class="dish-name"><%= item.name %></div>
      <div class="dish-price">Price: <%= item.price.round %>€</div>
      <div class="dish-description"><%= item.description %></div>
    </div>
  </div>
</div>
