<!-- Manage Dishes Modal -->

<div class="modal fade" id="manage-dishes-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Today's Dish for <%= @business_place.name %></h4>
        </div> -->
        <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% unless @dishes.empty? %>
            <h4>Select the dish to edit</h4>
              <% @dishes.each do |d| %>
                <%# f.button :submit, value: i.id, style: "background-image: url(#{i.photo.url}) no-repeat;", class: "" %>
                <%= link_to "/business_places/#{@business_place.id}/dishes/#{d.id}/edit", class: "dish-manage-link", id: "dish-id-#{d.id}", data: { dismiss: "modal", toggle: "modal", target: "#edit-dish-modal", dish_id: d.id} do %>
                  <div class="cover-item" style="background-image: url('<%= d.photo.url %>')"></div>
                <% end %>
              <% end %>
        <% else %>
          <h4>You have no dishes yet</h4>
          <div>
            <%= link_to "Add Dish", "#", class: "btn btn-medium", data: { dismiss: "modal", toggle: "modal", target: "#add-dish-modal"} %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
