<div class="banner-small" style="background-image: url('https://static.pexels.com/photos/3540/restaurant-alcohol-bar-drinks.jpg');">
  <div class="banner-small-content">
    <h2>Beer & Beer</h2>
    <h3>Best place in town!</h3>
    <p>+351 123456789   |   Rua São Bento, 25</p>
  </div>
</div>

<div class="badge-yellow">
  <%= link_to "Get me there", "#" %>
</div>

<div class="padded-small">
  <div class="container">
    <h2 class="text-center">Today's dishes</h2>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <!-- insert <div class="card"> -->
        <div class="dish-card" style="background-image: url('https://static.pexels.com/photos/5916/food-salad-healthy-colorful.jpg');">
          <div class="dish-card-description">
            <h3>Fresh salad</h3>
            <p>Price: 7€</p>
          </div>
          <a class="dish-card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <!-- insert <div class="card"> -->
        <div class="dish-card" style="background-image: url('https://static.pexels.com/photos/46239/salmon-dish-food-meal-46239.jpeg');">
          <div class="dish-card-description">
            <h3>Grilled Salmon</h3>
            <p>Price: 10€</p>
          </div>
          <a class="dish-card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2">
        <!-- insert <div class="card"> -->
        <div class="dish-card" style="background-image: url('https://static.pexels.com/photos/128388/pexels-photo-128388.jpeg');">
          <div class="dish-card-description">
            <h3>Spring salad with potatoes</h3>
            <p>Price: 8€</p>
          </div>
          <a class="dish-card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>

