.banner {
  background-size: cover;
  color: white;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-position: 50% 15%;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 28px;
  font-weight: normal;
  color: white;
  margin-bottom: 30px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.logo img {
  height: 120px;
}

.banner-small {
  background-size: cover;
  color: white;
  height: 70vh;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  box-sizing: border-box;
}

.banner-small-content h2 {
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 14vh;
  left: 4vw;
}
.banner-small-content h3 {
  font-size: 25px;
  font-weight: normal;
  position: absolute;
  bottom: 9vh;
  left: 4vw;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner-small-content p {
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  bottom: 1vh;
  left: 4vw;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
