.btn-block {
    display: block;
    width: 100%;
    padding: 10px 12px;
}

.btn-medium {
  color: $brand-primary;
  border: 1px solid $brand-primary;
  padding: 5px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
}

  .btn-medium-sm {
    font-size: 15px;
  }

  .btn-medium:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
  }

  .btn-medium-white {
    color: white;
    border: 1px solid white;
    background-color: transparent;
  }

  .btn-medium-white:hover {
    background: rgba(255,255,255,0.3);
  }

  .btn-medium-yellow {
    color: white;
    background-color: $fresh-yellow;
    opacity: 1;
    border: 1px solid white;
  }



  .btn-medium-yellow:hover {
    background-color: darken($fresh-yellow, 8%)
  }

#btn-home {
  font-weight: normal;
  padding: 6px 36px;
}


#edit-button {
  position: absolute;
  // top: 90px;
  left: 4vw;
  bottom: 26vh;
}
