.btn-block {
    display: block;
    width: 100%;
    padding: 10px 12px;
}

.btn-medium,
.btn-medium:active,
.btn-medium:focus,
.btn-medium:visited {
  color: $brand-primary;
  border: 1px solid $brand-primary;
  padding: 5px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
  border: 1px solid $brand-primary;
  background-color: $fresh-yellow;
}

  .btn-medium-sm {
    font-size: 15px;
  }

  // .btn-medium:hover {
  //   opacity: 1;
  //   text-decoration: none;
  //   color: white;
  // }

  .btn-medium-white,
  .btn-medium-white:active,
  .btn-medium-white:focus,
  .btn-medium-white:visited {
    color: white;
    border: 1px solid white;
    background-color: transparent;
  }

  .btn-medium-white:hover {
    background: rgba(255,255,255,0.3);
    border: 1px solid white;
  }

  .btn-medium-yellow,
  .btn-medium-yellow:active,
  .btn-medium-yellow:focus,
  .btn-medium-yellow:visited {
    color: white;
    background-color: $fresh-yellow;
    opacity: 1;
    border: 1px solid white;
    outline: 0;
  }

  .btn-medium-yellow:hover {
    background-color: darken($fresh-yellow, 8%)
  }

#btn-home {
  font-weight: normal;
  padding: 6px 36px;
}


#edit-button {
  position: absolute;
  left: 4vw;
  bottom: 26vh;
}
